@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Get <a href="/tables/">the complete list of database tables</a>.</p>
        <p>Get <a href="/functions/">the complete list of database functions</a>.</p>
    </div>
